body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 8px;
    background-color: lightgray;
}

*{
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: blue;
}

p{
    padding: 0;
    margin: 0;
}

.header,
.footer {
    display: flex;
    margin: 0;
    padding: 10px;
    background-color: antiquewhite;
}

.header {
    justify-content: space-around;
    align-items: center;
}

.footer {
    justify-content: center;
    align-items: center;
}

.mainpage {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.grid-item {
    display: flex;
    background-color: white;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 500px;
    height: 500px;
    padding: 8px;
    background-color: antiquewhite;
    border-radius: 8px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5,1fr);
}

.display {
    grid-column: span 4;
}
